#imgSize{
	max-width: 802.41px;
	max-height: 802.41px;
	min-width: 230.41px;
	min-height: 230.41px;
	border: none;
	position: relative;
	top: 0;
	left: 0;
}

#cardBorder{
	border: none;
}

#imgSize2{
  width: 507px;
  min-width: 192px;
  position: absolute;
  top: 30px;
  left: 30px;
}