#wallBtn{
  color: grey;
  border: dotted;
  border-radius: 40px;
  width: 90px;
  background-color: white;
}

#wallImg{
  width: 507px;
  min-width: 192px;
  position: relative;
  top: 0;
  left: 0;
}

#wallImg2{
  width: 507px;
  min-width: 192px;
  position: absolute;
  top: 30px;
  left: 30px;
}

#wallSizeBtn {
  background-color: white; 
  color: black; 
  border: 2px solid #F2F2F2;
  padding: 16px 0px;
  width:  113px;
  mid-width:  69px;
  border-radius: 40px;
  margin: 9px;
}

#wallSizeBtn:hover {
  border: 2px solid #23A4AD;
} 

#parent{
  position: relative;
  top: 0;
  left: 0;
}