#sizeBtn {
  background-color: white; 
  color: black; 
  border: 2px solid #F2F2F2;
  padding: 16px 0px;
  width:  113px;
  mid-width:  85.33px;
  border-radius: 40px;
  margin: 9px;
}

#sizeBtn:hover {
  border: 2px solid #23A4AD;
} 

#frameBtn {
  background-color: white; 
  color: black; 
  border: 2px solid #F2F2F2;
  padding: 16px 0px;
  margin: 9px;
  max-width:  389px;
  min-width:  288px;
  border-radius: 59px;
}

#frameBtn:hover {
  border: 3px solid #23A4AD;
}

#chngClr{
  width: 38px;
  height: 38px;
  border-radius: 30px;
  margin: 5px;
  border: 1px solid gray;
  padding: 0px;
}

#btnup{
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block; 
  color: black; 
  font-weight: bold;
}

#btnup:hover{
  color: dodgerblue;
}

#ftBold{
  font-weight: bold;
}

#wallBtn{
  color: grey;
  border: dotted;
  border-radius: 40px;
  width: 90px;
  background-color: white;
}

#wallBtn:hover{
  background-color: black;
}

#szBtm{
  width: 122.27px;
  height: 32px;
  border-radius: 40px;
  border: none;
}

#szBtm1{
  width: 170px;
  height: 32px;
  border-radius: 40px;
  border: none;
}

#col0{
  padding: 0px;
}

#carImg{
  max-width: 691px;
  max-height: 380px;
  min-width: 288px;
  max-height: 200px;
}

#verImg{
  width: 400px;
  height: 286px;
  border-radius: 8px;
}

#verImg2{
  width: 566px;
  height: 286px;
  border-radius: 8px;
}

#qFont{
  font-weight: bold;
}
#qFont:hover{
  color: dodgerblue;
  cursor: pointer;
}

#filler{
  width: 100%;
  height: 236px;
  background-color: #F7F7F7;
}

#featImg{
  width: 585px;
  height: 380px;
}